h1 #{page.title}
// Author
p.lead
    | by&nbsp;
    a(href="/u/#{page.creator._id}") #{page.creator.first_name} #{page.creator.last_name}
hr
// Date/Time
p
    span.glyphicon.glyphicon-time
    | &nbsp;Posted on #{page.posted_date}
hr
// Preview Image
img.img-responsive(src="#{page.logo}", alt="")
hr
| #{page.content}
hr
